 body {
     margin: 0;
     padding: 0;
     height: 100vh;

     background: linear-gradient(rgba(0, 0, 0, 0.75),
             rgba(0, 0, 0, 0.85)),
         url("https://wallpaperaccess.com/full/329583.jpg");

     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }

 #nav1 {
     display: flex;
     align-items: center;
     justify-content: center;
     position: fixed;
     background-color: black;
     font-family: "Jost", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     width: 100%;
     top: 0;
     left: 0;
     z-index: 1000;
 }

 #ul1 {
     list-style: none;
     display: flex;
     gap: 190px;

 }

 #a1 {
     text-decoration: none;
     color: white;
 }

 #a1:hover {
     color: rgb(255, 40, 40);
 }

 i {
     margin-right: 8px;
 }

 #form {
     width: 500px;
     margin: 50px auto;
     padding: 20px;
     border-radius: 5px;
     margin-top: 100px;
     backdrop-filter: blur(10px);
     background: rgba(255, 255, 255, 0.1);
     border: 1px solid rgba(255, 255, 255, 0.2);
     color: white;
 }

 label {
     display: block;
     margin-bottom: 5px;
     font-weight: bold;
 }

 input,
 textarea {
     width: 90%;
     padding: 10px;
     margin-bottom: 15px;
     border: 1px solid #ccc;
     border-radius: 3px;

 }

 button {
     padding: 10px 20px;
     background-color: red;
     color: white;
     border: none;
     border-radius: 3px;
     cursor: pointer;
     transition: transform;
 }

 button:hover {
     background-color: rgb(156, 5, 5);
     color: lightgray;
     transform: scale(1.1);
 }

 textarea {
     resize: none;
     height: 50px;
 }

 span {
     color: red;
 }

 label,
 input,
 textarea,
 button {
     font-family: "Jost", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     font-weight: bold;
 }

 #footer {
     margin-top: 50px;
     background-color: #0b0b0b;
     color: white;
     padding: 50px 60px 20px;
     font-family: "Jost", sans-serif;
 }

 .footer-container {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     flex-wrap: wrap;
 }


 #flogo {
     width: 500px;
     transition: transform 0.3s;
     border-radius: 8px;
 }

 #flogo:hover {
     transform: scale(1.1);
 }


 .footer-links {
     display: flex;
     gap: 80px;
 }

 .footer-links p:hover {
     color: red;
 }

 .footer-social p {
     margin-bottom: 10px;
 }

 .footer-social .icons i {
     margin-right: 15px;
     font-size: 18px;
     cursor: pointer;
 }

 .footer-social .icons i:hover {
     color: red;
 }

 .footer-bottom {
     margin-top: 40px;
     display: flex;
     justify-content: center;
     gap: 30px;
     font-size: px;
     opacity: 0.7;
 }

 #fta {
     color: white;
     text-decoration: none;
 }

 #fta:hover {
     color: red;
 }